FlightInfo/TestService/ConcreteFlightInfo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--Created by TIBCO WSDL--><wsdl:definitions xmlns:ns0="http://xmlns.example.com/unique/default/namespace/1134438639123" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.example.com/1649689965586" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Untitled" targetNamespace="http://xmlns.example.com/1649689965586">
      
  <wsdl:types>
            
    <xsd:schema xmlns="http://xmlns.example.com/unique/default/namespace/1134438639123" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.example.com/unique/default/namespace/1134438639123">
                  
      <xsd:element name="flightID">
                        
        <xsd:complexType>
                              
          <xsd:sequence>
                                    
            <xsd:element name="flightID" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:complexType>
                    
      </xsd:element>
                  
      <xsd:element name="flightInfo">
                        
        <xsd:complexType>
                              
          <xsd:sequence>
                                    
            <xsd:element name="pnr" type="xsd:string"/>
                                    
            <xsd:element name="firstName" type="xsd:string"/>
                                    
            <xsd:element name="lastName" type="xsd:string"/>
                                    
            <xsd:element name="flightID" type="xsd:string"/>
                                    
            <xsd:element name="date" type="xsd:string"/>
                                    
            <xsd:element name="departure_airport" type="xsd:string"/>
                                    
            <xsd:element name="departure_terminal" type="xsd:string"/>
                                    
            <xsd:element name="departure_gate" type="xsd:string"/>
                                    
            <xsd:element name="arrival_airport" type="xsd:string"/>
                                    
            <xsd:element name="arrival_terminal" type="xsd:string"/>
                                    
            <xsd:element name="arrival_gate" type="xsd:string"/>
                                    
            <xsd:element name="status" type="xsd:string"/>
                                
          </xsd:sequence>
                          
        </xsd:complexType>
                    
      </xsd:element>
              
    </xsd:schema>
        
  </wsdl:types>
      
  <wsdl:service name="FlightInfo-service">
            
    <wsdl:port binding="tns:flightPortEndpoint1Binding" name="flightPortEndpoint1">
                  
      <soap:address location="http://localhost:10000/Processes/FlightInfo-service.serviceagent/flightPortEndpoint1"/>
              
    </wsdl:port>
        
  </wsdl:service>
      
  <wsdl:portType name="flightPort">
            
    <wsdl:operation name="getflightInfo">
                  
      <wsdl:input message="tns:flightInfoRequest"/>
                  
      <wsdl:output message="tns:flightInfoResponse"/>
              
    </wsdl:operation>
        
  </wsdl:portType>
      
  <wsdl:binding name="flightPortEndpoint1Binding" type="tns:flightPort">
            
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
            
    <wsdl:operation name="getflightInfo">
                  
      <soap:operation soapAction="/Processes/FlightInfo-service.serviceagent/flightPortEndpoint1/getflightInfo" style="document"/>
                  
      <wsdl:input>
                        
        <soap:body parts="PNR" use="literal"/>
                    
      </wsdl:input>
                  
      <wsdl:output>
                        
        <soap:body parts="flightInfo" use="literal"/>
                    
      </wsdl:output>
              
    </wsdl:operation>
        
  </wsdl:binding>
      
  <wsdl:message name="flightInfoRequest">
            
    <wsdl:part name="PNR" type="xs:string"/>
        
  </wsdl:message>
      
  <wsdl:message name="flightInfoResponse">
            
    <wsdl:part element="ns0:flightInfo" name="flightInfo"/>
        
  </wsdl:message>
  
</wsdl:definitions>
